<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Hidran Arias">
<title>EXPRESS TODO LIST</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="sticky-footer-navbar.css" rel="stylesheet">
<style>
    body{
        padding-top: 70px;
    }
</style>
