<script>
    function updateList(btn) {

        const method = document.getElementById('method');
        const form = document.getElementById('list');
        btn.value === 'DELETE' ? method.value = 'DELETE': method.value = 'PATCH';
        form.submit();

    }
</script>

<form method="post" action="/lists" name="list"  id="list">
    <div class="row">
        <div class="col-md-9 form-group">
            <input  required minlength="6" placeholder="INSERT NEW LIST" class="form-control" name="list_name" value="{{name}}">
        </div>
        <div class="col-md-3">
            <button value="SAVE"  class="btn btn-success" title="INSERT LIST">
                SAVE
            </button>

                {{#if showBackButton}}
                <button value="BACK" onclick="location.href='/'" class="btn btn-danger"  title="BACK TO LIST LIST">
                   BACK

                </button>
                {{/if}}

        </div>
    </div>
</form>
