<h1>EXPRESS TODO LISTS</h1>
<ul>
    {{#each lists}}
        <li>
       <a href="/lists/{{this.id}}/todos">
           {{this.name}}
       </a>
            {{this.dataValues.total}}
        </li>
    {{/each}}
</ul>
