<script>
    async function loginUser(f){

        try {
            const res = await axios.post('/auth/login',
                    {
                         email: f.email.value,
                        password: f.password.value,
                    }
            );
            Swal.fire({
                type : 'success',
                text: 'User successfully loggedin'
            }).then(() =>{location.href ='/'});
        } catch (e) {
            console.log(e.response.data.message);
            Swal.fire(e.response.data.message);
        }
    }
   async function registerUser(f) {

       try {
           const res = await axios.post('/auth/register',
                   {
                       name: f.name.value,
                       email: f.email.value,
                       password: f.password.value,
                   }
           );
          Swal.fire({
            type : 'success',
              text: 'User successfully registered'
          }).then(() =>{location.href ='/'});
       } catch (e) {
          console.log(e.response.data.message);
           Swal.fire(e.response.data.message);
       }
    }
</script>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <h2>TODO LIST LOGIN</h2>

    {{#if signup}}
    <form action="/auth/register" method="post" onsubmit="registerUser(this);return false">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Enter name">

        </div>
        {{else}}
    <form action="/auth/login" method="post" onsubmit="loginUser(this);return false">
        {{/if}}
        <div class="form-group">
            <label for="email">Email address</label>
            <input required type="email" class="form-control" id="email" aria-describedby="emailHelp"
                   name="email"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input required  type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group text-center">

            <button type="submit" class="btn btn-primary">
                {{#if signup}}
                    REGISTER
                {{else}}
                    LOGIN
                {{/if}}
            </button>
        </div>
        <div class="form-group text-center">
            {{#if signup}}
           Already registered?     <a href="/auth/login">LOGIN</a>
            {{else}}
             Not registered?   <a href="/auth/signup">SIGNUP</a>
            {{/if}}

        </div>
    </form>
    </div>
    <div class="col-md-3"></div>
</div>
