<h1> {{list_name}}</h1>
{{#if todos}}
<ul class="list-group list-group-flush">
    {{#each todos}}
        <li class="list-group-item">
            <div class="form-check">
                <button class="btn btn-default">
                    <span class="fa fa-square-o"></span>
                </button>
                <label class="form-check-label" for="defaultCheck1">
                    {{this.todo}}
                </label>
            </div>


        </li>

    {{/each}}
</ul>
{{else}}
    <h2 class="text-danger">No todos found!</h2>
{{/if}}
